.gradle
build/
!**/src/main/**/build/
!**/src/test/**/build/

### IntelliJ IDEA ###
.idea

out/
!**/src/main/**/out/
!**/src/test/**/out/

frontend/node_modules

# production
frontend/build
frontend/.gradle
frontend/build_packageNpmApp